*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Fredoka', sans-serif;
    font-size: small;
}

.container {
    width: 100%;
    max-width: 920px;
    margin: auto;
}

.title {
    padding-top: 30px;
    text-align: center;
    color:rgb(229, 49, 112);
    font-size: xx-large;
}

.subtitle {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.box_card {
    float: left;
    width:290px;
    margin-bottom: 30px; /*STACCA LE DUE RIGHE DI CARDS*/
}

.box_card img{
    height: 70px;
    float: left;
}

.box_data {
    height: 70px;
    float: left;
    padding: 10px 20px 0 10px; /*DISTANZIA IL TESTO NELLE CARD*/
    background-color: black;
    color: white;
}

.box_data > p {
    margin-bottom: 3px;  /*DISTANZIA IL TESTO NELLE CARD*/
}

.box_data :last-child {
    color: rgb(39, 171, 231);
}